p,input,ul,h1,h2,h3,h4,h5,h6,body{
	margin:0;padding:0;
	list-style:none;
}
body{
	font-size:12px;
	font-family:"宋体";
}
/*顶部 开始*/
.content{
	width:100%;height:30px;
	margin:0 auto;
	background:#f8f8f8;
	margin-bottom:2px;
	min-width:1200px;
}
.content .top{
	width:1200px;height:30px;
	margin:0 auto;
}
.content .top .right{
	width:430px;height:30px;
	float:right;
	 
}
.right .top-nihao{
	line-height:30px;
	float:left;
	color:#6c6c6c;
	margin-right:13px;
}
.right .denglu{
	line-height:30px;
	float:left;
	color:#6c6c6c;
	text-decoration:none;
	margin-right:7px;
}
.right .zhuce{
	line-height:30px;
	float:right;
	color:#6c6c6c;
	text-decoration:none;
	margin-left:7px;
}
.right .order{
	line-height:30px;
	float:left;
	color:#6c6c6c;
	text-decoration:none;
	margin-left:14px;
	padding-right:14px;
}
.right .order:hover{
	color:#B81B22;
}
.laba{
	float:left;
	margin-top:5px;
	
}
.right .name{
	line-height:30px;
	float:left;
	color:#6c6c6c;
	text-decoration:none;
	padding:0 9px;
}
.right .name:hover{
	color:#B81b22;
}
.video{
	float:left;
	margin-top:5px;
}
.line{
	width:100%;height:1px;
	background:#b2b2b2;
	margin-top:1px;
	min-width:1200px;
}
/*搜索 开始*/
.search{
	width:1200px;height:52px;
	margin:0 auto;
	margin-top:28px;
	margin-bottom:6px;
}
.search-container{
	width:438px;height:52px;
	float:right;
}
.search-top{
	width:438px;height:31px;
}
.search-bottom{
	width:438px;height:21px;
}
.search-lan{
	width:306px;height:29px;
	float:left;
	margin-top:1px;
}
.search-lan-left{
	width:253px;height:27px;
	border:1px solid #c9c9c9;
	float:left;
	padding-left:2px;
	line-height:27px;
}
.search-lan-right{
	width:49px;height:29px;
	background:url(../images/0.png) -99px 0;
	float:left;
	cursor:pointer;
}
.search-car{
	width:100px;height:29px;
	background:url(../images/0.png) -153px 0;
	float:right;
	margin-top:2px;
	line-height:29px;
	cursor:pointer;
}
.wen{
	width:54px;height:15px;
	color:#fff;
	padding:0 29px;
}
.search-car:hover{
	width:100px;height:29px;
	background:url(../images/0.png) -153px -29px;
	float:right;
	margin-top:2px;
	line-height:29px;
	cursor:pointer;
}
.wen:hover{
	width:54px;height:15px;
	color:#b81b22;
	padding:0 29px;
}
.search-bottom{
	padding-left:6px;
	padding-top:8px;
}
.search-bottom a{
	color:#626262;
	padding:3px;
	text-decoration:none;
}
/*菜单 开始*/
.menu{
	width:1200px;height:47px;
	margin:0 auto;
	margin-top:7px;
}
.logo{
	width:166px;height:47px;
	background:url(../images/0.png) 0 -59px;
	float:left;
}
.menu-right{
	width:1033px;height:47px;
	float: left;
}

.menu-right ul li{
	float:left;
	line-height:47px;
	list-style:none;
    padding-left:30px;
    line-height:70px;

 }
 .menu-right ul li a{
 	text-decoration: none;
 	font-size: 16px;
	color:#686868;
 }
 .menu-right ul li a:hover{
 	color:#b81b22;
 }
 /*banner 开始*/
 .banner{
 	width:1200px;height:576px;
	margin:0 auto;
	position:relative;
	margin-top:31px;
	margin-bottom:40px;
 }
 .circle-k{
 	width:140px;height:14px;
 	position:absolute;
 	bottom:22px;
 	left:530px;
 }
 .jt-left{
 	width:34px;height:62px;
 	background:url(../images/jiantou.png);
 	position:absolute;
 	top:257px;
 	left:10px;
 }
 .jt-left:hover{
 	background:url(../images/jiantou.png) 0 -61px;
 }
 .jt-right{
 	width:34px;height:62px;
 	background:url(../images/jiantou.png) -46px 0;
 	position:absolute;
 	top:257px;
 	left:1156px;
 }
 .jt-right:hover{
 	background:url(../images/jiantou.png) -46px -61px;
 }
 .circle{
 	width:14px;height:14px;
 	background:#ccc;
 	float:left;
 	margin-right:7px;
 	border-radius:50%;
 	background:#fff;
 }
/* 充值条 开始 */
.czt{
	display:block;
	width:1200px;height:40px;
	background:url(../images/czt.jpg);
	margin:0 auto;
	margin-bottom:65px;
}
.xp{
	width:72px;height:18px;
	font-size:18px;
	color:#828282;
	margin:0 auto;
	font-family:"黑体";
	margin-bottom:42px;
}
/*超值精选 开始*/
.cz{
	width:1200px;height:40px;
	background:url(../images/cz.jpg);
	margin:0 auto;
	margin-bottom:20px;
	margin-top:35px;
}
/*充值条2 开始*/
.czt2{
	width:1200px;height:40px;
	background:url(../images/2zq.jpg);
	margin:0 auto;
	margin-bottom:20px;
	margin-top:35px;
}
/*充值条3 开始*/
.czt3{
	width:1200px;height:40px;
	background:url(../images/3zq.jpg);
	margin:0 auto;
	margin-bottom:20px;
	margin-top:35px;
}

 /*工具条 开始*/
 .tap-ico{
 
 	width:75px;height:205px;
 	background:red;
 	position:fixed;
 	right:10px;
 	bottom:49px;
 }
 .ico-t{	
 	display:block;
 	width:75px;height:78px;
 	background:url(../images/tap-ico.png) 0 0;
 }
 .ico-m{	
 	display:block;
 	width:75px;height:71px;
 	background:url(../images/tap-ico.png)  0 -78px;
 }
 .ico-b{	
 	display:block;
 	width:75px;height:56px;
 	background:url(../images/tap-ico.png) 0 -149px;
 }
/*内容 开始*/
.content8,.content9{
	width:1200px;height:509px;
	margin:0 auto;
	margin-bottom:16px;
}
.content8 .list1{
	width:590px;height:509;
	margin-right:17px;
	float:left;
}
.content9 .list{
	width:285px;height:509px;
	margin-right:20px;
	float:left;
}
.content9 .img{
	width:285px;height:438px;
	display:block;
}
.content8 .list1 .img{
	width:590px;height:440px;
	display:block;
}
.content8 .list1 .bottom{
	width:588px;height:69px;
	border:1px solid #e3e3e3;
	border-top:none;
}
.content8 .list2{
	width:290px;height:509px;
	margin-right:17px;
	float:left;
}
.content8 .list2-1{
	width:290px;height:249px;
	float:left;
}
.content8 .list2-2{
	width:290px;height:244px;
	margin-top:16px;
	float:left;
}
.content8 .list2-top .img{
	width:290px;height:180px;
	display:block;
}
.content8 .list2-top .bottom{
	width:288px;height:69px;
	border:1px solid #e3e3e3;
	border-top:none;
}
.content8 .list2-bottom .img{
	width:290px;height:175px;
	display:block;
}
.content8 .list2-bottom .bottom{
	width:288px;height:69px;
	border:1px solid #e3e3e3;
	border-top:none;
}
.content8 .list3{
	width:286px;height:509px;
	margin-right:0;
	float:left;
}
.content8 .list3 .img{
	width:286px;height:440px;
	display:block;
}
.content8 .list3 .bottom{
	width:284px;height:69px;
	border:1px solid #e3e3e3;
	border-top:none;
}
.bottom{
	width:283px;height:70px;
	border:1px solid #e3e3e3;
	border-top:none;
}
.name{
	float:left;
	line-height:70px;
	padding-left: 10px;
}
.price{
	padding-right: 10px;
	color:#8e4145;
	line-height:70px;
	float:right;
}
/*底部 开始*/
.box-bottom{
	width:1200px;height:282px;
	border:1px solid #ececec;
	margin:0 auto;
	margin-top:59px;
	margin-bottom:26px;
}
.box-small{
	width:1118px;height:214px;
	margin:0 auto;
	margin-top:37px;
}
.box-small-top{
	width:1118px;height:158px;
}
.box-small-bottom{
	width:1118px;height:56px;
	background:#f8f8f8;
}
.box-small-top ul li{
	width:367px;height:135px;
	border-right:1px solid #dfdfdf;
	float:left;
}

.box-small-top ul li a img{
	display:block;
	width:38px;height:38px;
	margin:0 auto;
	margin-top:18px;
}
.kefu{
	width:156px;height:32px;
	background:#c0172a;
	margin:0 auto;
	margin-top:33px;
}
div ul li a{
	text-decoration:none;
}
div .kefu {
	font-size:14px;
	color:#fff;
	line-height:32px;
	text-align:center;
}
div .zi{
	font-size:14px;
	color:#6a6a6a;
	text-align:center;
	line-height:22px;
	margin-top:28px;
}
.box-small-top ul li img{
	display:block;
	margin:0 auto;
	width:98px;height:98px;
	cursor:pointer;
}
.saomiao{
	color:#6a6a6a;
	font-size:14px;
	text-align:center;
	line-height:50px;

}
.box-small-bottom ul li{
	width:178px;height:24px;
	border-right:1px solid #dfdfdf;
	float:left;
	margin-top:19px;
	list-style:none;
    
 }
 .box-small-bottom ul li a{
 	line-height:24px;
 	text-decoration: none;
 	font-size: 12px;
	color:#3f3f3f;
	padding-left:65px;
 }
 /*页脚 开始*/
 .footer{
 	width:100%;height:160px;
 	margin:0 auto;
 }
 .footer-xian{
 	width:100%;height:1px;
 	background:#383838;
 	margin-bottom:16px;
 }
 .footer-lj{
 	width:730px;height:45px;
 	margin:0 auto;
 	margin-top:36px;
 }
 .footer .cx{
 	display:block;
 	width:112px;height:40px;
 	background:url(../images/spritesbgtop.png) 0 -582px;
 	float:left;
 	margin-right:20px;
 	margin-top:4px;
 }
 .footer .fzxh{
 	display:block;
 	width:156px;height:45px;
 	background:url(../images/spritesbgtop.png) 0 -629px;
 	float:left;
 	margin-right:20px;
 }
 .footer .bz{
 	display:block;
 	width:96px;height:42px;
 	background:url(../images/spritesbgtop.png) 0 -675px;
 	float:left;
 	margin-right:20px;
 }
  .footer .ba{
 	display:block;
 	width:101px;height:42px;
 	background:url(../images/spritesbgtop.png) -97px -675px;
 	float:left;
 	margin-right:20px;
 }
  .footer .ly{
 	display:block;
 	width:42px;height:42px;
 	background:url(../images/spritesbgtop.png) -202px -675px;
 	float:left;
 	margin-right:20px;
 }
 .footer .cctv{
 	display:block;
 	width:120px;height:39px;
 	background:url(../images/cctv.jpg);
 	float:left;
}