.wdrj{
    display: block;
    margin:0 auto;
    margin-bottom:60px;
}
.wdrj>h2{
    text-align:center;
}
@media screen and (min-width: 1000px){
    .wdrj>h2:before{
        content: "";
        display: block;
        width:40%;height:2px;
        background: #ccc;
        float:left;
        margin-top:14px;
    }
    .wdrj>h2:after{
        content: "";
        display: block;
        width:40%;height:2px;
        background: #ccc;
        float:right;
        margin-top:14px;
    }
}
.wen>h2{
    text-align: center;
}
.wen>p{
    font-size:16px;
    line-height:30px;
}
