input,ul,h1,h2,h3,h4,h5,h6,body,figure{
    margin:0;
    padding:0;
    list-style:none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
body{
    overflow-X:hidden;
}
.container{
    width: 100%;height: auto;
    padding: 1px;

}
.container:after{
    content:"";
    display: block;
    clear: both;
}
.container .list{
    float: left;
    width: 25%;height: 200px;
    background-position: center;

}
.container .list:nth-child(1){
    background-image:url(images/l1.jpg) ;
    border-right:1px solid #fff;
}
.container .list:nth-child(2){
    background-image:url(images/l2.jpg) ;
    border-right:1px solid #fff;
}
.container .list:nth-child(3){
    background-image:url(images/l3.jpg) ;
    border-right:1px solid #fff;
}
.container .list:nth-child(4){
    background-image:url(images/l4.jpg) ;

}
@media screen and (max-width:1068px){
    .container .list{
        float: left;
        width: 50%;height: 200px;
        background-position: center;

    }
    .container .list:nth-child(1){

        background-image:url(images/m1.jpg) ;
        border-right:1px solid #fff;
    }
    .container .list:nth-child(2){
        background-image:url(images/m2.jpg) ;
        border-right:1px solid #fff;
    }
    .container .list:nth-child(3){
        background-image:url(images/m3.jpg) ;
        border-right:1px solid #fff;
    }
    .container .list:nth-child(4){
        background-image:url(images/m4.jpg) ;

    }
}
@media screen and (max-width:735px){
    .container .list{
        float: left;
        width:100%;height:200px;
        background-position: center;
    }
    .container .list:nth-child(1){
        background-image:url(images/s1.jpg) ;
        border-bottom:1px solid #fff;
        border-right:none;
    }
    .container .list:nth-child(2){
        background-image:url(images/s2.jpg) ;
        border-bottom:1px solid #fff;
        border-right:none;
    }
    .container .list:nth-child(3){
        background-image:url(images/s3.jpg) ;
        border-bottom:1px solid #fff;
        border-right:none;
    }
    .container .list:nth-child(4){
        background-image:url(images/s4.jpg) ;
        border-bottom:1px solid #fff;
        border-right:none;
    }
}
/*标题*/

.nav{
    width: 100%;height: 45px;
    background: #313131;
    margin:0 auto;
    -moz-user-select:none;
    cursor: default;
}
.nav-inner{
    width: 1000px;height:44px;
    /*background: yellow;*/
    margin:0 auto;
    text-align: justify;
}
.nav-inner:after{
    content:"";
    display: inline-block;
    width: 100%;
}

@font-face {
    font-family: 'iconfont';  /* project id 223024 */
    src: url('http://at.alicdn.com/t/font_w377v9tqr2qyf1or.eot');
    src: url('http://at.alicdn.com/t/font_w377v9tqr2qyf1or.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_w377v9tqr2qyf1or.woff') format('woff'),
    url('http://at.alicdn.com/t/font_w377v9tqr2qyf1or.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_w377v9tqr2qyf1or.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont';
    line-height: 50px;
}
#open{
    display:none;
    color:#fff;
    cursor:pointer;
}

.mac{
    height:44px;
    line-height: 44px;
    color: #fff;
    display:inline-block;
    font-size:18px;
}
.mac a{
    color: #fff;
    transition: all 0.5s;
}
.mac a:hover{
    color: #969696;
}
@media screen and (max-width:1068px) {
    .nav-inner{
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width:735px) {
    .hidden-s{
        display:none;
      }
     #open{
        display:inline-block;
        transition:all 0.5s;
      }
       #open:hover{
        color:#999;
      }
    .show-s:hover{
        color:#999;
      }
    @font-face {
  font-family: 'iconfont';  /* project id 222775 */
  src: url('http://at.alicdn.com/t/font_sso5y6x1gtvmfgvi.eot');
  src: url('http://at.alicdn.com/t/font_sso5y6x1gtvmfgvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_sso5y6x1gtvmfgvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_sso5y6x1gtvmfgvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_sso5y6x1gtvmfgvi.svg#iconfont') format('svg');
}
.icon-l{
    font-family: 'iconfont';
    line-height: 50px;
}
}
/*banner*/
.banner-container{
    width:100%;height:520px;
}
.banner-box{
    width:100%;height:100%;
}
.banner-list{
    width:100%;height:100%;
}
.banner-list a{
    display:block;
    width:100%;height:100%;
    position: relative;
}
.banner-title h1{
    width:100%;height:24px;
    background: url(images/title.png) center no-repeat;
    position:absolute;
    top:28px;
}
.banner-title h2{
    color:#000;
    text-align:center;
    padding-top:60px;
    font-size:35px;
}
.banner-images{
    width:100%;height:432px;
    background:url(images/banner1-l.jpg);
    background-size:auto 115%;
    background-position:center top;
    position:absolute;
    left:0;top:20%;
}
@media screen and (max-width:1068px){
    .banner-container{
        height:467px;
    }
    .banner-images{
        height:360px;
        background:url(images/banner1-m.jpg);
        background-size:auto 100%;
        background-position:center;
        position:absolute;
        left:0;top:25%;
    }
}
@media screen and (max-width:735px){
    .banner-container{
        height:480px;
    }
    .banner-images{
        height:360px;
        background:url(images/banner1-s.jpg);
        background-size:auto 120%;
        background-position:center top;
        position:absolute;
        left:0;top:25%;
    }
}
/*底部*/
.footer{
    width:100%;height:auto;
    background:#f2f2f2;
}
.footer .container{
    width:980px;height:auto;
    margin:0 auto;
}
.footer-box{
    width:20%;height:260px;
    float:left;
}
.footer-box li a{
    color: #666;
    font-size: 12px;
    list-style: none;
    line-height:24px;
}
.footer-box a:hover{
    text-decoration:underline;
}
.add{
    display:none;
    float:right;
}
.footer-title{
    display:block;
    cursor:default;
}
@media screen and (max-width:1068px){
    .footer .container{
        width:100%;
        padding-left:10px;
    }
}
@media screen and (max-width:735px){

    .add{
        display:inline-block;
    }
    .footer-box{
        width:100%;
        height:auto;
    
    }
    .footer-box .footer-title{
        border-bottom:1px solid #E3E3E3;
        height:38px;
        line-height:38px;
        padding-left:10px;
        padding-right:10px;
        cursor:pointer;
    }
    .footer-box ul{
        height:0;
        overflow:hidden;
    }
}
/*备案*/
.beian-box{
    width:100%;height:auto;
    background:#f2f2f2;
    padding-top:26px;
    padding-bottom:26px;
}
.beian{
    width:700px; height: 50px;
    padding-left:10px;
}
.beian-1{
    color: #999;
    font-size: 12px;
}
.beian-1 a{
    color: #0070c9;
}

.beian-1 a:hover{
    text-decoration:underline;
}

.line{
    width: 140%;
    margin: 0 auto;
    border:1px solid #e3e3e3;
    margin:10px;
}
.beian-2{
    color: #999;
    font-size: 12px;
    float: left;
}
.beian-2 a{
    color: #0070c9;
}

.beian-2 a:hover{
    text-decoration:underline;
}
