input,ul,h1,h2,h3,h4,h5,h6,body,figure{
    margin:0;
    padding:0;
    list-style:none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
body{
    font-family:"微软雅黑";
    font-size:12px;
    background:#f5f5f5;
    position: relative;
}
@media screen and (min-width:1100px){
    body{
        overflow-x: hidden;
    }
}
header{
    width:100%;height:33px;
    background:#f2f2f2;
    border-bottom:1px solid #e8e8e8;
}
.header-box{
    width:1230px;height:33px;
    margin:0 auto;
    color:#999;
}
@media screen and (max-width:1300px) {
    .header-box{
        width:988px;height:33px;
        position: relative;
    }
}
.header-left{
    width:auto;height:33px;
    float:left;
}
.header-left-hi{
    line-height:33px;
}
.header-left .dl a{
    margin-left:16px;
    color:#999;
}
.header-left .dl a:hover{
    color:#c40000;
}
.header-right{
    width:auto;height:33px;
    float:left;
    margin-left:300px;
}
@media screen and (max-width:1300px) {
    .header-right{
        margin-left:70px;
        position:absolute;
        right:0;
    }
}
.text-box-mine{
    width:auto;height:33px;
    margin-left:14px;
    cursor: pointer;
}
.text-box{
    width:auto;height:30px;
    margin-left:14px;
}
.text-box-mine a{
    line-height:33px;
    color:#999;
    font-family:"微软雅黑";
}
.text-box-mine:hover .jt{
    transform:rotate(180deg)
}
.text-box-mine a:hover{
    color:#c40000;
    text-decoration:underline;
}
.header-right .jt{
    width:10px;height:10px;
    display:inline-block;
    background:url(../images/jt.png);
    background-size:10px 10px;
    transition: all 0.5s;
}
.header-right .jt:hover{
    transform:rotate(180deg)
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_vkyzyicbkervn29.eot');
    src: url('//at.alicdn.com/t/font_vkyzyicbkervn29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_vkyzyicbkervn29.woff') format('woff'),
    url('//at.alicdn.com/t/font_vkyzyicbkervn29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_vkyzyicbkervn29.svg#iconfont') format('svg');
}
.icon-1{
    font-family:'iconfont';
    color:#c40000;
    font-size:12px;
    line-height:33px;
}
.header-right .text-box a{
    line-height:33px;
    color:#999;
    font-family:"微软雅黑";
}
.header-right .text-box a:hover{
    color:#c40000;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.eot');
    src: url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.svg#iconfont') format('svg');
}
.icon-2{
    font-family:'iconfont';
    color:#c40000;
    font-size:12px;
    line-height:33px;
}
/*.text-box .num{*/
    /*color:#444;*/
    /*font-weight:bold;*/
/*}*/
/*.text-box .num:hover{*/
    /*color:#c40000;*/
/*}*/
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.eot');
    src: url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_z8mphf2zq3v50zfr.svg#iconfont') format('svg');
}
.top{
    width:1230px;height:130px;
    margin:0 auto;
}
@media screen and (max-width:1300px) {
    .top{
        width:988px;
    }
}
.top-box{
    width:944px;height:130px;
    float:left;
}
.top .logo{
    width:200px;height:130px;
    background:url(../images/logo.png) center;
    background-size:240px 130px;
    float:left;
}
.ss-box{
    width:628px;height:130px;
    margin-top:28px;
    float:right;
    padding-top:14px;
}

.ss-k{
    width:625px;height:39px;
    border:2px solid #c40000;

}
.ss-text{
    width:491.8px;height:36px;
    font-size:14px;
    line-height:39px;
    float:left;
    border:0;
    background:transparent;
    list:none;
    padding-left:8px;
}
.ss-button{
    width:130px;height:36px;
    background-color:#C40000;
    font-size:18px;
    color:#fff;
    text-align:center;
    line-height:36px;
    float:right;
    cursor: pointer;
}

.ss-box .hot{
    width:auto;height:16px;
    paddint-top:1px;
    margin-top:7px;
    margin-right:12px;
    float:left;
    font-size:14px;
    color:#999;
}
.ss-box .hot a{
    color:#999;
}

.container-top{
    width:100%;height:36px;
    background:#dd2727;
}
.container-box{
    width:1230px;height:36px;
    margin:0 auto;
}

.item-box-left{
    width:200px;height:36px;
    float:left;
    font-size:16px;
    color:#fff;
    background: #c60a0a;
    padding-left:15px;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_eqt0g8m6r0ctbj4i.eot');
    src: url('//at.alicdn.com/t/font_eqt0g8m6r0ctbj4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_eqt0g8m6r0ctbj4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_eqt0g8m6r0ctbj4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_eqt0g8m6r0ctbj4i.svg#iconfont') format('svg');
}
.icon-2{
    font-family: 'iconfont';
    line-height:36px;
}
.item-box-right{
    width:1030px;height:36px;
    float:left;
    background:#dd2727;
    padding-left:30px;
    position:relative;
}
@media screen and (max-width:1300px) {
    .ss-box{
        width:488px;
        float:left;
        margin-left:130px;
    }
    .ss-k{
        width:485px;
    }
    .ss-text{
        width:288px;
    }
    .hidden{
        display:none;
    }
    .container-box{
        width:988px;
    }
    .item-box-right{
        width:750px;
    }
}
.item-dh{
    display: block;
    width:100px;height:36px;
    padding-bottom:0;
    position: relative;
    float:left;
    margin-right:20px;
 }
.item-dh-t{
    display: block;
    width:75px;height:36px;
    padding-bottom:0;
    position: relative;
    float:left;
}
.item-dh .hover{
     width:auto;
     height:20px;
     position:absolute;
     top: 0;left:16px;
     display: block;
     transition: all 0.3s;
 }
.item-dh-t .hover{
    width:auto;
    height:20px;
    position:absolute;
    top: 0;left:16px;
    display: block;
    transition: all 0.3s;
}
.item-dh a:hover .hover{
    position: absolute;
    top: -12px;
    display: block;
    z-index: 20;
}
.item-dh-t a:hover .hover{
    position: absolute;
    top: -12px;
    display: block;
    z-index: 20;
}
.item-dh-text{
    width:auto;height:36px;
    float:left;
    color:#fff;
    line-height:36px;
    font-size:16px;
    text-align:center;
    position:absolute;
    z-index:100;
}
.item-dh .tm{
    display: block;
    width:90px;height:auto;
    position:absolute;
    z-index:100;
}
.container-banner-back{
    widtn:100%;height:500px;
    background:#e8e8e8;
}
.container-banner-box{
    width:1230px;height:500px;
    margin:0 auto;
    background:#fff;
    position:relative;
}
@media screen and (max-width:1300px) {
    .ss-box{
        width:488px;
        float:left;
        margin-left:130px;
    }
    .ss-k{
        width:485px;
    }
    .ss-text{
        width:288px;
    }
    .hidden{
        display:none;
    }
    .container-box{
        width:988px;
    }
    .item-box-right{
        width:750px;
    }
    .container-banner-box{
        width:988px;

    }
}
.sdh-box{
    width:200px;height:500px;
    float:left;
    background: #eeeeee;
}
.sdh-little{
    width:200px;height:31px;
}
.sdh-little:hover{
    background: #fff;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_g00v4g0opcwstt9.eot');
    src: url('//at.alicdn.com/t/font_g00v4g0opcwstt9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_g00v4g0opcwstt9.woff') format('woff'),
    url('//at.alicdn.com/t/font_g00v4g0opcwstt9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_g00v4g0opcwstt9.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_5nmktyafd730udi.eot');
    src: url('//at.alicdn.com/t/font_5nmktyafd730udi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_5nmktyafd730udi.woff') format('woff'),
    url('//at.alicdn.com/t/font_5nmktyafd730udi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_5nmktyafd730udi.svg#iconfont') format('svg');
}
.sdh-box a{
    color:#000;
    font-size:14px;
}
.sdh-little:nth-child(1):hover a{
    color:#dd2727;
    font-weight:bold;
}
.sdh-little:nth-child(4):hover a{
    color:#dd2727;
    font-weight:bold;
}
.sdh-little:nth-child(7):hover a{
    color:#dd2727;
    font-weight:bold;
}
.sdh-little:nth-child(11):hover a{
    color:#dd2727;
    font-weight:bold;
}
.sdh-little:nth-child(15):hover a{
    color:#dd2727;
    font-weight:bold;
}
.sdh-little:nth-child(8):hover a{
    color: #FF8B2A;
    font-weight:bold;
}
.sdh-little:nth-child(9):hover a{
    color: #FF8B2A;
    font-weight:bold;
}
.sdh-little:nth-child(13):hover a{
    color: #FF8B2A;
    font-weight:bold;
}
.sdh-little:nth-child(14):hover a{
    color: #00ae94;
    font-weight:bold;
}
.sdh-little:nth-child(16):hover a{
    color: #00ae94;
    font-weight:bold;
}
.sdh-little:nth-child(2):hover a{
    color: #4264dd;
    font-weight:bold;
}
.sdh-little:nth-child(3):hover a{
    color:#4264dd;
    font-weight:bold;
}
.sdh-little:nth-child(5):hover a{
    color:#4264dd;
    font-weight:bold;
}
.sdh-little:nth-child(6):hover a{
    color:#4264dd;
    font-weight:bold;
}
.sdh-little:nth-child(10):hover a{
    color:#4264dd;
    font-weight:bold;
}
.sdh-little:nth-child(12):hover a{
    color:#4264dd;
    font-weight:bold;
}
.fd-box{
    width:852px;height:500px;
    position:absolute;
    left:200px;top:0;
    background:#fafafa;
    z-index:200;
    display:none;
}
.fd-box-left{
    width:643px;height:500px;
    background:#fff;
    padding:10px 30px;
    float:left;
}
.fd-text-box{
    width:643px;height:60px;
    padding-top:14px;
}
.fd-text-left{
    width:90px;height:50px;
    font-size:14px;
    font-weight:bold;
    float:left;
}
#fd-text-right{
    width:492px;height:50px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-2{
    width:492px;height:43px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-3{
    width:492px;height:58px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-4{
    width:492px;height:43px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-5{
    width:492px;height:58px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-6{
    width:492px;height:43px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-7{
    width:492px;height:43px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-8{
    width:492px;height:43px;
    border-bottom:1px dashed #ededed;
    float:left;
}
#fd-text-right-9{
    width:492px;height:43px;
    float:left;
}
#fd-text-right-2 a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right-3 a{
    font-size:14px;
    line-height:20px;
    font-weight:normal;
    margin-right:12px;
}
#fd-text-right-4 a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right-5 a{
    font-size:14px;
    line-height:20px;
    font-weight:normal;
    margin-right:10px;
}
#fd-text-right-6 a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right-7 a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right-8 a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right-9 a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right a{
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    margin-right:10px;
}
#fd-text-right-9 a:nth-child(2){
    color:#666;
}
#fd-text-right-9 a:nth-child(4){
    color:#666;
}
#fd-text-right-9 a:hover{
    color:#dd2727;
}
#fd-text-right-7 a:nth-child(2){
    color:#666;
}
#fd-text-right-7 a:nth-child(4){
    color:#666;
}
#fd-text-right-7 a:nth-child(6){
    color:#666;
}
#fd-text-right-7 a:hover{
    color:#dd2727;
}
#fd-text-right-6 a:nth-child(4){
     color:#666;
 }
#fd-text-right-6 a:nth-child(6){
    color:#666;
}
#fd-text-right-6 a:hover{
    color:#dd2727;
}
#fd-text-right-5 a:nth-child(2){
    color:#666;
}
#fd-text-right-5 a:nth-child(4){
    color:#666;
}
#fd-text-right-5 a:nth-child(5){
    color:#666;
}
#fd-text-right-5 a:nth-child(6){
    color:#666;
}
#fd-text-right-5 a:nth-child(7){
    color:#666;
}
#fd-text-right-5 a:nth-child(8){
    color:#666;
}
#fd-text-right-5 a:nth-child(9){
    color:#666;
}
#fd-text-right-5 a:nth-child(10){
    color:#666;
}
#fd-text-right-5 a:hover{
    color:#dd2727;
}
#fd-text-right-4 a:nth-child(3){
    color:#666;
}
#fd-text-right-4 a:nth-child(4){
    color:#666;
}
#fd-text-right-4 a:nth-child(6){
    color:#666;
}
#fd-text-right-4 a:nth-child(7){
    color:#666;
}
#fd-text-right-4 a:nth-child(8){
    color:#666;
}
#fd-text-right-4 a:nth-child(9){
    color:#666;
}
#fd-text-right-4 a:hover{
    color:#dd2727;
}
#fd-text-right-3 a:nth-child(1){
    color:#666;
}
#fd-text-right-3 a:nth-child(2){
    color:#666;
}
#fd-text-right-3 a:nth-child(3){
    color:#666;
}
#fd-text-right-3 a:nth-child(5){
    color:#666;
}
#fd-text-right-3 a:nth-child(7){
    color:#666;
}
#fd-text-right-3 a:nth-child(8){
    color:#666;
}
#fd-text-right-3 a:nth-child(9){
    color:#666;
}
#fd-text-right-3 a:nth-child(10){
    color:#666;
}
#fd-text-right-3 a:nth-child(12){
    color:#666;
}
#fd-text-right-3 a:nth-child(13){
    color:#666;
}
#fd-text-right-3 a:hover{
    color:#dd2727;
}
#fd-text-right-2 a:nth-child(3){
    color:#666;
}
#fd-text-right-2 a:nth-child(4){
    color:#666;
}
#fd-text-right-2 a:nth-child(5){
    color:#666;
}
#fd-text-right-2 a:nth-child(6){
    color:#666;
}
#fd-text-right-2 a:nth-child(7){
    color:#666;
}
#fd-text-right-2 a:nth-child(8){
    color:#666;
}
#fd-text-right-2 a:nth-child(9){
    color:#666;
}
#fd-text-right-2 a:hover{
    color:#dd2727;
}
#fd-text-right a:nth-child(3){
    color:#666;
}
#fd-text-right a:nth-child(5){
    color:#666;
}
#fd-text-right a:nth-child(6){
    color:#666;
}
#fd-text-right a:nth-child(8){
    color:#666;
}
#fd-text-right a:nth-child(9){
    color:#666;
}
#fd-text-right a:nth-child(11){
    color:#666;
}
#fd-text-right a:hover{
    color:#dd2727;
}
#fd-box-right{
    width:188px;height:479px;
    font-weight:normal;
    margin:10px;
    float:left;
}
.right-box-top{
    width:93px;height:47px;
    margin-right:1px;
    margin-bottom:1px;
    float:left;
}
.right-box-top:hover{
    opacity:0.8;
}
.right-box-bottom img{
    width:189px;height:auto;
    margin-top:9px;
}
.right-box-top img{
    width:93px;height:auto;
}
.sdh-little:hover .fd-box{
    display:block;
}
.icon-sdh{
    font-family: 'iconfont';
    line-height:31px;
    font-size:18px;
    float:left;
    margin-right:8px;
    margin-left:15px;
}
.sdh-text{
    line-height:31px;
    float:left;
}
.sdh-text:hover{
    font-weight:bold;
}
.banner{
    width:1030px;height:500px;
    float:left;
    background: url(../images/banner.jpg) -165px;
    position: relative;
}
@media screen and (max-width:1300px) {
    .banner{
        width:788px;
        float:left;
        background: url(../images/h-1.jpg) -165px;
        position: relative;
    }
}
.banner-right{
    width:100px;height:476px;
    background:rgba(0,0,0,0.5);
    float:right;
    margin:10px 0;

}
.banner-right:hover{
    background:rgba(0,0,0,0.8);
}
.banner-right-top img{
    margin:10px 15px;
}
.Hi{
    color:#fff;
    line-height:18px;
    text-align:center;
    margin-bottom:6px;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_axx6odf25ave7b9.eot');
    src: url('//at.alicdn.com/t/font_axx6odf25ave7b9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_axx6odf25ave7b9.woff') format('woff'),
    url('//at.alicdn.com/t/font_axx6odf25ave7b9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_axx6odf25ave7b9.svg#iconfont') format('svg');
}
.icon-dl{
    font-family: 'iconfont';
}
.qdl{
    width:80px;height:24px;
    margin:0 auto;
    background:#dd2727;
    border-radius:12px;
 }
.qdl a{
    display: block;
    width:80px;height:24px;
    margin:0 auto;
    text-align:center;
    line-height:24px;
    color:#fff;
}
.qdl a:hover{
    text-decoration:underline;
}
.zhuce{
    width:80px;height:28px;
    margin:0 auto;
    border-bottom:1px dashed #000;
}
.zhuce a{
    display: block;
    width:80px;height:28px;
    margin:0 auto;
    margin-top:4px;
    text-align:center;
    line-height:28px;
    color:#fff;
}
.zhuce a:hover{
    text-decoration:underline;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_rrop5t2x4b98jjor.eot');
    src: url('//at.alicdn.com/t/font_rrop5t2x4b98jjor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_rrop5t2x4b98jjor.woff') format('woff'),
    url('//at.alicdn.com/t/font_rrop5t2x4b98jjor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_rrop5t2x4b98jjor.svg#iconfont') format('svg');
}
.icon-th{
    font-family: 'iconfont';
    line-height:24px;
    font-size:16px;
    float:left;
    color:#fff;
}
.th-text{
    line-height:24px;
    float:right;
    color:#fff;
}
.th-box{
    display: block;
    width:70px;height:60px;
    margin:20px auto;
 }
.tequan{
    width:80px;height:28px;
    margin:0 auto;
}
.tequan a{
    display: block;
    width:80px;height:28px;
    margin:0 auto;
    text-align:center;
    line-height:28px;
    color:#fff;
}
.tequan a:hover{
    text-decoration:underline;
}
.tuijian{
    width:100px;height:24px;
    background:rgba(0,0,0,0.1);
    margin:18px auto;
    color:#fff;
    line-height:24px;
    text-align:center;
}
.tj-box{
    width:100px;height:114px;
}
.tj{
    width:58px;height:58px;
    background:url(../images/tj.jpg);
    background-size:57px 57px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin:0 auto;
}
.tj-text{
    color:#fff;
    text-align:center;
    line-height:20px;
    margin-top:8px;
}
.cercle-box{
    width:197px;height:20px;
    position:absolute;
    left:335px;
    bottom:5px;
    /*display: -webkit-flex;*/
    /*display:flex;*/
    /*justify-conten:space-between;*/
}
.cercle{
    width:20px;height:20px;
    background:rgba(0,0,0,0.3);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin-right:15px;
    float:left;
    cursor:pointer;
}
.container-one-box{
    width:1230px;height:436px;
    margin:0 auto;
    margin-top:58px;
}

.container-one-left{
    width:488px;height:436px;
    float:left;
}
.container-one-right{
    width:731px;height:436px;
    float:right;
}
@media screen and (max-width:1300px) {
    .container-one-box{
        width:988px;
    }
    .container-one-right{
        width:500px;height:436px;
        float:right;
    }
}
.brand-mask{
    width:121px;height:108px;
    background:rgba(0,0,0,0.8);
    display:none;
    position:absolute;
    top:0;
 }
.right-little-box{
    width:121px;height:108px;
    margin-right:1px;
    margin-bottom:1px;
    background:#fff;
    padding:30px 5px;
    position: relative;
    overflow: hidden;
    float:left;
}
.right-little-box:hover .brand-mask{
    display:block;
}
.brand-img{
    width:121px;height:auto;
}
.brand-img img{
    width:107px;height:auto;
    margin:0 auto;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_623qz1mj1yca0pb9.eot');
    src: url('//at.alicdn.com/t/font_623qz1mj1yca0pb9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_623qz1mj1yca0pb9.woff') format('woff'),
    url('//at.alicdn.com/t/font_623qz1mj1yca0pb9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_623qz1mj1yca0pb9.svg#iconfont') format('svg');
}
.xin-icon{
    font-family: 'iconfont';
    width:36px;height:36px;
    font-size:16px;
    color:#fff;
    line-height:36px;
    text-align:center;
    float:right;
    cursor:pointer;
}
.mask-text{
    width:121px;height:22px;
    font-size:12px;
    color:#fff;
    text-align:center;
    float:left;
}
.mask-go-box{
    width:121px;height:22px;
    float:left;
}
.mask-go{
    width:63px;height:18px;
    background:#dd2727;
    border-radius:9px;
    font-size:12px;
    color:#fff;
    text-align:center;
    margin:0 auto;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_1eqtetyh3myam7vi.eot');
    src: url('//at.alicdn.com/t/font_1eqtetyh3myam7vi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1eqtetyh3myam7vi.woff') format('woff'),
    url('//at.alicdn.com/t/font_1eqtetyh3myam7vi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1eqtetyh3myam7vi.svg#iconfont') format('svg');
}
#right-little{
    width:121px;height:108px;
    margin-right:1px;
    margin-bottom:1px;
    background:#fff;
    padding:30px 5px;
    position: relative;
    overflow: hidden;
    float:left;
}
#right-little:hover{
    background:#dd2727;
}
.brand-img:hover .other{
    transform:rotate(360deg);
}
.brand-img:hover .icon{
     color:#fff;
}
.brand-img:hover .other-text{
    color:#fff;
}
.other{
    width:49px;height:49px;
    margin:0 auto;
    margin-left:27px;
    transition: all 0.5s ease-in;
    transform-origin:center center;
}
.icon{
    width:49px;height:49px;
    font-family: 'iconfont';
    line-height:51px;
    text-align:center;
    font-size:34px;
    color:#999;
}
/*.other:hover{*/
    /*transform:rotate(360deg);*/
/*}*/
.other-text{
    width:107px;height:16px;
    color:#999;
    line-height:16px;
    text-align:center;
}
.container-two-box{
    width:1230px;height:459px;
    margin:0 auto;
    margin-top:30px;
}
@media screen and (max-width:1300px) {
    .container-two-box{
        width:988px;
    }
    .two-little-box:nth-child(4){
        margin:0;
    }
}
.two-little-box{
    width:238px;height:459px;
    background:#fff;
    margin-right:10px;
    float:left;
}
.two-top-box{
    width:238px;height:36px;
    background:#dd2727;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('//at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.eot');
    src: url('//at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.woff') format('woff'),
    url('//at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.svg#iconfont') format('svg');
}
.two-top-icon{
    width:92px;height:36px;
    font-family: 'iconfont';
    font-size:20px;
    text-align:right;
    line-height:36px;
    font-weight:bold;
    color:#fff;
    float:left;
}
.two-top-text{
    width:142px;height:36px;
    font-size:18px;
    line-height:36px;
    font-weight:bold;
    color:#fff;
    float:right;
}
.two-middle{
    width:238px;height:204px;
    margin-bottom:20px;
}
.two-middle-box{
    width:200px;height:204px;
    margin:0 auto;
    border-bottom:1px solid #eee;
}
.two-text-box{
    width:200px;height:auto;
    margin:0 auto;
    margin-bottom:8px;
}

.two-h1{
    font-size:22px;
    text-align:center;
}
.two-h2{
    font-size:14px;
    text-align:center;
    color:#888;
}
.two-circle{
    width:140px;height:140px;
    margin:0 auto;
    -webkit-border-radius:70px;
    -moz-border-radius:70px;
    border-radius:70px;
    background:#f7f7f7;
}
.scale{
    width:129px;height:129px;
    margin-left:5px;
    margin-top:5px;
    transition:all 0.5s;
}
.two-middle:hover .scale{
    transform:scale(1.15);
}
.two-bottom:hover .scale{
    transform:scale(1.15);
}
.ht{
    width:1230px;height:90px;
    margin:10px auto;
    overflow: hidden;
}
.ht img{
    width:auto;height:90px;
    margin-left:-200px;
}
.container-three-box{
    width:1230px;height:470px;
    margin:20px auto 10px auto;
}
.three-box-top{
    width:1230px;height:20px;
}
@media screen and (max-width:1300px) {
    .ht{
        width:988px;
        overflow: hidden;
    }
    .ht img{
        margin-left:-300px;
    }
    .container-three-box{
        width:988px;
    }
    .three-box-top{
        width:988px;
    }
}
.three-top-left{
    width:auto;height:20px;
    float:left;
}
.three-left-st1{
    width:5px;height:20px;
    float:left;
    background:#ea5f8d;
    margin-right:10px;
}
.three-left-st2{
    width:5px;height:20px;
    float:left;
    background:#0aa6e8;
    margin-right:10px;
}
.three-left-st3{
    width:5px;height:20px;
    float:left;
    background:#64c333;
    margin-right:10px;
}
.three-left-st4{
    width:5px;height:20px;
    float:left;
    background:#f15453;
    margin-right:10px;
}
.three-left-st5{
    width:5px;height:20px;
    float:left;
    background:#19c8a9;
    margin-right:10px;
}
.three-left-st6{
    width:5px;height:20px;
    float:left;
    background:#f7a945;
    margin-right:10px;
}
.three-left-text1{
    line-height:20px;
    font-size:18px;
    margin-right:10px;
}
.three-left-text2{
    line-height:20px;
    font-size:12px;
}
.three-top-right{
    width:auto;height:20px;
    float:right;
}
.three-top-right a{
    float:left;
    font-size:12px;
    margin-right:20px;
    line-height:20px;
    color:#000;
}
.three-top-right a:hover{
    text-decoration:underline;
}
.three-box-bottom{
    width:1230px;height:440px;
    margin-top:10px;
}
.three-bottom-left{
    width:246px;height:440px;
    float:left;
}
.three-bottom-right{
    width:984px;height:440px;
    float:left;
}
.three-left-img{
    width:246px;height:330px;
    position: relative;
    transition: all 0.5s;
}
.three-left-img img{
    width:246px;height:330px;
}
.img-ht{
    width:246px;height:30px;
    background: rgba(255,255,255,0.8);
    color:#000;
    text-align:center;
    line-height:30px;
    position: absolute;
    bottom:0;
    transition: all 0.5s;
}
.three-bottom-left:hover .img-ht{
    color:#dd2727;
}
.three-bottom-left:hover .three-left-img{
    opacity:0.8;
}
.three-left-bottom1{
    width:246px;height:110px;
    padding-top:14px;
    padding-top:20px;
    background:#ea5f8d url(../images/nr-back.png) no-repeat center bottom;
}
.three-left-bottom2{
     width:246px;height:110px;
     padding-top:14px;
     padding-top:20px;
     background:#0aa6e8 url(../images/nr-back.png) no-repeat center bottom;
 }
.three-left-bottom3{
    width:246px;height:110px;
    padding-top:14px;
    padding-top:20px;
    background:#64c333 url(../images/nr-back.png) no-repeat center bottom;
}
.three-left-bottom4{
    width:246px;height:110px;
    padding-top:14px;
    padding-top:20px;
    background:#f15453 url(../images/nr-back.png) no-repeat center bottom;
}
.three-left-bottom5{
    width:246px;height:110px;
    padding-top:14px;
    padding-top:20px;
    background:#19c8a9 url(../images/nr-back.png) no-repeat center bottom;
}
.three-left-bottom6{
    width:246px;height:110px;
    padding-top:14px;
    padding-top:20px;
    background:#f7a945 url(../images/nr-back.png) no-repeat center bottom;
}
.three-left-bottom-text1{
    font-size:22px;
    font-weight:bold;
    color:#fff;
    text-align:center;
}
.three-left-bottom-text2{
    font-size:18px;
    color:#fff;
    text-align:center;
}
.three-bottom-right-box{
    width:245px;height:440px;
    margin-right:1px;
    float:left;
}
.three-right-top{
    width:245px;height:220px;
    background:#fff;
    margin-bottom:1px;
    padding-top:25px;
    padding-left:25px;
    position: relative;
}
.three-right-top img{
    width:140px;height:auto;
    position:absolute;
    right:0;bottom:0;
    transition:all 0.3s;
}
.three-right-top:hover img{
    right:6px;
}
.three-right-bottom{
    width:245px;height:220px;
    background:#fff;
    margin-bottom:1px;
    padding-top:25px;
    padding-left:25px;
    position: relative;
}
.three-right-bottom img{
    width:140px;height:auto;
    position:absolute;
    right:0;bottom:0;
    transition:all 0.3s;
}
.three-right-bottom:hover img{
    right:6px;
}
.three-right-all-text1{
    font-size:18px;
    line-height:30px;
    color:#000;
    position: relative;
    z-index:10;
}
.three-right-all-text2{
    font-size:14px;
    /*color:#64c333;*/
    position: relative;
    z-index:10;
}
.three-bottom-right1 a{
    color:#ea5f8d;
}
.three-bottom-right2 a{
    color:#0aa6e8;
}
.three-bottom-right3 a{
    color:#64c333;
}
.three-bottom-right4 a{
    color:#f15453;
}
.three-bottom-right5 a{
    color:#19c8a9;
}
.three-bottom-right6 a{
    color:#f7a945;
}
.three-right-none{
    width:246px;height:146px;
    margin-bottom:1px;
    background: #fff;
    padding-top:25px;
    padding-left:25px;
    position: relative;

}
.three-right-none img{
    width:90px;height:90px;
    position: absolute;
    right:0;bottom:0;
    transition:all 0.3s;
}
.three-right-none:hover img{
    right:6px;
}
.container-nine-box{
    width:1230px;height:700px;
    margin:0 auto;
}
.container-nine-top{
    width:auto;height:22px;
    padding-left:15px;
}
.nine-bottom-box{
    width:1230px;height:678px;
}
.nine-little-box{
    width:594px;height:308px;
    background:#fff;
    border:1px solid #f5f5f5;
    padding:20px 9px 10px 9px;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    float:left;
}

.nine-little-box:hover{
    border:1px solid #dd2727;
}
.nine-top-box{
    width:auto;height:50px;
}
.nine-top-left{
    width:auto;height:50px;
    float:left;
}
.nine-top-left img{
    width:auto;height:50px;
    float:left;
}
.img-text{
    float:left;
    margin-left:12px;
}
.img-title{
    font-size:16px;
    color:#333;
    margin-bottom:10px;
}
.img-fance{
    font-size:12px;
    color:#999;
}
.img-look{
    width:80px;height:30px;
    margin-top:2px;
    float:right;
    background: #eee;
    color:#666;
    line-height:30px;
    text-align:center;
}
.nine-bottom-big{
    width:594px;height:266px;
}
.nine-bottom-box-one{
    width:192px;height:266px;
    margin-right:9px;
    float:left;
}
.nine-bottom-box .img{
    width:192px;height:192px;
}
.nine-bottom-box .img img{
    width:192px;height:auto;

}
.nine-bottom-box a:hover img{
    transition:all 0.5s;
    opacity:0.7;
}
.price-box{
    width:192px;height:74px;
}
.nine-img-name{
    width:192px;height:48px;
    overflow: hidden;
    padding:14px 10px 0 10px;
    font-size:12px;
    color:#000;
}
@media screen and (max-width:1300px) {
    .container-nine-box{
        width:988px;height:545px;
        margin:0 auto;
    }
    .nine-bottom-big{
        width:486px;height:266px;
    }
    .nine-bottom-box{
        width:988px;
    }
    .nine-little-box{
        width:468px;height:272px;
    }
    .nine-bottom-box-one{
        width:150px;height:266px;
        margin-right:9px;
        float:left;
    }
    .nine-bottom-box .img{
        width:150px;height:150px;
    }
    .nine-bottom-box .img img{
        width:150px;height:auto;
        transition:all 0.5s;
    }
    .price-box{
        width:150px;height:74px;
    }
    .nine-img-name{
        width:150px;height:48px;
        overflow: hidden;
        padding:14px 10px 0 10px;
        font-size:12px;
        color:#000;
    }
}
.nine-img-price{
    font-size:12px;
    color:#dd2727;
    font-weight:bold;
    padding-left:10px;
}
.container-ten-box{
    width:1230px;height:3060px;
    margin:0 auto;
}
.container-ten-top{
    width:1230px;height:22px;
    margin:0 auto;
    margin-bottom:20px;
}

.ten-text{
    display:block;
    width:100px;height:22px;
    margin:0 auto;
    position: relative;
}
.ten-text:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #979797;
    top:12px;
    left: -38px;
}
.ten-text:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #979797;
    top:12px;
    left:100px;
}
.icon-ten{
    display:inline-block;
    font-family: 'iconfont';
    font-size:18px;
    color:red;
}
.ten-right-text{
    display:inline-block;
    font-size:18px;
}
.container-ten-bottom{
    margin:0 auto;
    width:auto;height:auto;
}
.container-ten-little{
    float:left;
    width:236px;height:317px;
    border:1px solid #fff;
    background:#fff;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    padding:1px;
    margin-right:8px;
    margin-bottom:15px;
}
.container-ten-little:hover{
    border:1px solid red;
}
.ten-img{
    width:235px;height:231px;
}
.ten-img img{
    width:235px;height:231px;
}
.ten-price-box{
    width:235px;height:68px;
    padding:12px 12px 10px 12px;
}
@media screen and (max-width:1300px){
    .container-ten-box{
        width:988px;height:2698px;
    }
    .container-ten-top{
        width:988px;
    }
    .container-ten-little{
        width:186px;height:276px;
    }
    .ten-img{
        width:185px;height:183px;
    }
    .ten-img img{
        width:185px;height:183px;
    }
    .ten-price-box{
        width:186px;height:68px;
        padding:12px 12px 10px 12px;
    }
}
.ten-img-name{
    font-size:13px;
    color:#666;
}
.ten-img-price1{
    font-size:16px;
    color:red;
    float:left;
    line-height:32px;
}
.ten-img-price2{
    font-size:14px;
    color:red;
    float:left;
    line-height:34px;
}
.end{
    width:1230px;height:40px;
    margin:0 auto;
    margin-bottom:10px;
    background:url(../images/end.png) center no-repeat;
}
.end-top-Box{
    width:100%;height:363px;
    border-top:1px solid #e3e7ea;
    background:#fff;
}
.end-top-box{
    width:1230px;height:363px;
    margin:0 auto;
    background:url(../images/backbottom.png) 80px bottom no-repeat;
}
.end-top-one{
    width:1187px;height:150px;
    margin:0 auto;
    border-bottom:1px solid #e3e7ea;
}
.end-top-little{
    width:297px;height:150px;
    float:left;
}
.end-top-little:nth-child(4){
    width:296px;
}
.end-top-pic{
    width:296px;height:100px;
    float:left;
    margin-top:25px;
    padding-top:21px;
}
.end-top-xian{
    width:1px;height:44px;
    background:#e3e7ea;
    float:left;
    margin-top:53px;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('http://at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.eot');
    src: url('http://at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_hzx4j5n0kcqjv2t9.svg#iconfont') format('svg');
}
.circle-icon{
    font-family: 'iconfont';
    font-size:54px;
    color:#c20001;
}
.circle-text{
    width:70px;height:60px;
    margin-left:30px;
    float:left;
}
.end-top-text{
    width:auto;height:60px;
    padding-left:8px;
    margin-top:2px;
}
.end-top-text1{
    font-size:18px;
    color:#121212;
    font-weight:bold;
    line-height:30px;
}
.end-top-text2{
    font-size:16px;
    color:#7e7e7e;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('http://at.alicdn.com/t/font_4p3sgdv74hpbke29.eot');
    src: url('http://at.alicdn.com/t/font_4p3sgdv74hpbke29.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_4p3sgdv74hpbke29.woff') format('woff'),
    url('http://at.alicdn.com/t/font_4p3sgdv74hpbke29.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_4p3sgdv74hpbke29.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.eot');
    src: url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.svg#iconfont') format('svg');
}
.end-top-two{
    width:1120px;height:212px;
    margin:0 auto;
    padding-top:30px;
}
.end-two-left{
     width:928px;height:auto;
     float:left;
 }
.end-two-right{
    width:192px;height:auto;
    float:left;
}
.end-two-left-little{
    width:232px;height:auto;
    float:left;
}
.end-two-title{
    font-size:16px;
    color:#666;
    line-height:26px;
    font-weight:bold;
}
.end-link a{
    display: block;
    font-size:12px;
    color:#8b8b8b;
    line-height:20px;
}
.footer{
    width:100%;height:199px;
    background:#000;
    border-top:2px solid #dd2727;
}
.footer-box{
    width:1230px;height:199px;
    margin:0 auto;
    padding-left:34px;
    padding-top:10px;
    color:#fff;
}
.footer-box a{
    color:#fff;
}
.footer-link-top a{
    margin-right:6px;
    line-height:35px;
}
.footer-link-middle{
    width:1196px;height:auto;
}
@media screen and (max-width:1300px){
    .end{
        width:988px;
    }
    .end-top-Box{
        width:100%;
    }
    .end-top-box{
        width:988px;
        border-top:1px solid #e3e7ea;
        background:#fff url(../images/backbottom.png) 0px bottom no-repeat;
    }
    .end-top-one{
        width:976px;height:150px;
        margin:0 auto;
        border-bottom:1px solid #e3e7ea;
    }
    .end-top-little{
        width:243.5px;height:150px;
        float:left;
    }
    .end-top-little:nth-child(4){
        width:242.5px;
    }
    .end-top-pic{
        width:242.5px;height:100px;
        float:left;
        margin-top:25px;
        padding-top:21px;
    }

    .circle-icon{
        font-size:50px;
    }
    .circle-text{
        width:60px;height:60px;
        margin-left:20px;
        float:left;
    }
    .end-top-text{
        width:auto;height:60px;
        padding-left:4px;
        margin-top:2px;
    }
    .end-top-text1{
        font-size:16px;
        color:#121212;
        font-weight:bold;
        line-height:30px;
    }
    .end-top-text2{
        font-size:14px;
        color:#7e7e7e;
    }
    .end-top-two{
        width:976px;height:212px;
        margin:0 auto;
    }
    .end-two-left{
        width:784px;height:auto;
        float:left;
    }
    .end-two-right{
        width:192px;height:auto;
        float:left;
    }
    .end-two-left-little{
        width:196px;height:auto;
        float:left;
    }
    .end-two-title{
        font-size:16px;
        color:#666;
        line-height:26px;
        font-weight:bold;
    }
    .end-link a{
        display: block;
        font-size:12px;
        color:#8b8b8b;
        line-height:20px;
    }
    .footer{
        width:100%;height:199px;
        background:#000;
        border-top:2px solid #dd2727;
    }
    .footer-box{
        width:988px;height:199px;
        margin:0 auto;
        padding-top:10px;
        color:#fff;
        padding-left:0;
    }
    .footer-box a{
        color:#fff;
    }
    .footer-link-top a{
        margin-right:6px;
        line-height:35px;
    }
    .footer-link-middle{
        width:988px;height:auto;
    }
}
.footer-link-middle li{
    float:left;
    margin-right:6px;
    line-height:26px;
}
.beian{
    color:#a4a4a4;
    margin-right:66px;
    line-height:26px;
    float:left;
}
.beian img{
    vertical-align:middle;
}
.beian a{
    color:#a4a4a4;
}
.beian-bottom{
    width:1196px;height:auto;
    color:#686868;
    float:left;
    line-height:25px;
}
@media screen and (max-width:1300px){
    .beian-bottom{
        width:988px;
    }
}
.beian-bottom img{
    margin-right:11px;
}
.fd-right{
    width:40px;height:100%;
    background:#000;
    position: fixed;
    right:0;
    bottom:0;
}
.fd-right-top{
    width:40px;height:171px;
    margin:0 auto;
    padding-top:136px;
    margin-bottom:28px;
}
.fd-right-top .img:hover{
    width:40px;height:40px;
    background:#dd2727;
}
.fd-hx{
    width:30px;height:1px;
    background: #444;
    margin:0 auto;
}
.fd-car{
    width:40px;height:94px;
    padding-bottom:10px;
    background:url(../images/index1.png) no-repeat top;
    padding-top:30px;
}
.fd-car:hover{
    background:#dd2727 url(../images/index22.png) no-repeat top;
}
.fd-car a{
    color:#fff;
    text-align:center;
    line-height:16px;
}
.fd-car img{
    margin-left:4px;
}
.fd-link{
    width:40px;height:40px;
    margin-top:10px;
}
.fd-link .img{
    width:35px;height:35px;
    margin-left:2px;
    margin-top:2px;
}
.fd-link:hover{
    background:#dd2727;
}
.fd-botom{
    width:40px;height:126px;
    position:absolute;
    bottom:0;
}
@font-face {
    font-family: 'iconfont';  /* project id 222775 */
    src: url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.eot');
    src: url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_xhh4jf3edwhtzkt9.svg#iconfont') format('svg');
}
.fd-icon{
    font-family: 'iconfont';
    color:#cacaca;
    text-align:center;
    font-size:20px;
    margin-top:6px;
}
@media screen and (max-width:1300px){
    .fd-right{
        width:35px;height:100%;
        background:#000;
        position: fixed;
        right:0;
        bottom:0;
    }
    .fd-right-top{
        width:35px;height:150px;
        margin:0 auto;
        padding-top:120px;
        margin-bottom:10px;
    }
    .fd-right-top .img:hover{
        width:35px;height:35px;
        background:#dd2727;
    }
    .fd-hx{
        width:30px;height:1px;
        background: #444;
        margin:0 auto;
    }
    .fd-car{
        width:35px;height:84px;
        padding-bottom:10px;
        background:url(../images/index1.png) no-repeat top;
        padding-top:30px;
    }

    .fd-car a{
        color:#fff;
        text-align:center;
        line-height:16px;
    }
    .fd-car img{
        margin-left:4px;
    }
    .fd-link{
        width:35px;height:35px;
        margin-top:2px;
    }
    .fd-link .img{
        width:35px;height:35px;
        margin-left:0px;
        margin-top:1px;
    }
    .fd-botom{
        width:35px;height:114px;
        position:absolute;
        bottom:0;
    }
}